div {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-custom {
  background-color: #2f4151;
}

/*Color of brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: lightgrey;
}

/* Color of links */
.navbar-custom .navbar-nav .nav-link {
  color: lightgrey;
}

/* Color of active or hovered links */
.navbar-custom .nav-gs_basic.active .nav-link,
.navbar-custom .nav-gs_basic:hover .nav-link {
  background-color: #425b71;
  color: white;
}

.btn-gs_basic {
  color: lightgrey;
  background-color: #2f4151;
  border-color: #2f4151;
}

.btn-gs_basic:hover {
  background-color: #425b71;
  color: white;
}
